<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BarlineLoggingSubsystem</key>
	<string>$(BARLINE_LOGGING_SUBSYSTEM)</string>
	<key>BarlineAppSigningIdentifier</key>
	<string>$(BARLINE_APP_BUNDLE_IDENTIFIER)</string>
	<key>BarlineMenuServiceName</key>
	<string>$(BARLINE_MENU_SERVICE_BUNDLE_IDENTIFIER)</string>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>NSRunLoop</string>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
